@model IEnumerable<TurApp.Models.AspNetUsers>
@using TurApp.Models

@{
    ViewBag.Title = "Usuarios";

    var Permisos = Session["Permisos"] as List<MenuAccionVM>;
}

<style>
    .btn-roles {
    color: white;
    background-color: #0027d6;
    border-color: #05008d;
}
</style>

<section class="content-header">
    <h1>
        Usuarios
        <small>Seguridad</small>
    </h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Seguridad</a></li>
        <li class="active">Usuarios</li>
    </ol>
</section>




<div class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Listado de Usuarios</h3>

            @if (Permisos.Any(r => r.menu.Nombre == "Usuarios" && r.accion.Any(x => x.Nombre == "Agregar")))
            {
                <button type="button" style="margin-right:25px;" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Users/Create', 'Agregar', 'Usuario')">
                    <i class="fa fa-plus"></i> Nuevo
                </button>
            }
        </div>
        <div class="box-body">
            <table id="dtUsuarios" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nombre de Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>
                                <div class="btn-group-sm">

                                    @if (Permisos.Any(r => r.menu.Nombre == "Usuarios" && r.accion.Any(x => x.Nombre == "Editar")))
                                    {
                                        <span data-placement="top" title="Editar" data-toggle="tooltip">
                                            <a class="btn btn-info fa fa-pencil-square-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Users/Edit/@item.Id','Editar','Usuarios')"></a>
                                        </span>
                                    }

                                    <span data-placement="top" title="Detalles" data-toggle="tooltip">
                                        <a class="btn btn-default fa fa-file-text-o" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Users/Details/@item.Id','Detalle','Usuarios')"></a>
                                    </span>

                                    <span data-placement="top" title="Eliminar" data-toggle="tooltip">
                                        <a class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Users/Delete/@item.Id','Eliminar','Usuarios')"></a>
                                    </span>

                                    <span data-placement="top" title="Restablecer Contraseña" data-toggle="tooltip">
                                        <a class="btn btn-success fa fa-unlock-alt" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Users/ResetPassword/@item.Id','Eliminar','Usuarios')"></a>
                                    </span>

                                    <span data-placement="top" title="Asignar roles" data-toggle="tooltip">
                                        <a class="btn btn-roles fa fa-users" data-toggle="modal" data-target="#myModal" onclick="abrirModal('/Users/SetRoles/@item.Id','Asignar','Roles')"></a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        if (!$.fn.dataTable.isDataTable('#dtUsuarios')) {
            $('#dtUsuarios').DataTable({
                "language": DataTableEsp(),
                responsive: true
            });
        }
    });
</script>